<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header  th:fragment="header">
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="index.html">home</a></li>
                                    <li><a href="hotels/rooms">Hotel</a>
                                        <ul class="submenu">
                                            <li th:each="hotel : ${hotels}">
                                                <a th:href="@{'/hotelDetails?hotelName=' + ${hotel.hotelName}}" th:text="${hotel.hotelName}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="single-blog.html">single-blog</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="elements.html">elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="book_btn d-none d-lg-block">
                                <a th:if="${session.name == null}" class="popup-with-form" href="#test-form1">LOGIN</a>
                                <span th:unless="${session.name== null}">
                                    <a href="/" th:text="${session.name +'님'}"></a>
                                <a class="popup-with-form" href="#test-form" th:if="${session.name != null}" th:text="${'잔액: '+session.balance}"></a>

                                    <a href="/logout"  >LOGOUT</a>
                                </span>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</html>
