<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout3}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservation Form</title>
</head>

<body>
<main layout:fragment="content" class="main container mt-5">
    <h1>Edit Reservation</h1>
    <form action="/update/edit" method="post">
        <!-- 예약 ID를 숨은 입력 필드로 전달합니다. -->
        <input type="hidden" name="payId" th:value="${reservation.payId}" />
        <div class="form-group">
            <label for="checkInDate">Check-in Date:</label>
            <!-- 현재 예약의 체크인 날짜를 입력 필드에 표시합니다. -->
            <input type="date" id="checkInDate" name="checkin" class="form-control" th:value="${reservation.checkin}" required>
        </div>
        <div class="form-group">
            <label for="checkOutDate">Check-out Date:</label>
            <!-- 현재 예약의 체크아웃 날짜를 입력 필드에 표시합니다. -->
            <input type="date" id="checkOutDate" name="checkout" class="form-control" th:value="${reservation.checkout}" required>
        </div>
        <!-- 수정 버튼을 누르면 서버로 폼 데이터를 전송합니다. -->
        <button type="submit" class="btn btn-primary">Confirm Edit</button>
    </form>
</main>
</body>

</html>
