<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout3}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservation Form</title>
</head>

<body>
<main layout:fragment="content" class="main container mt-5">
    <h1 class="mb-4" style="color:white;">Hotel Reservation</h1>
    <h1 class="mb-4">Hotel Reservation</h1>
    <form th:action="@{/rooms}" method="get">

            <div class="form-group">
                <label for="customerId">Customer ID:</label>
                <input type="text" id="customerId" name="customerId" class="form-control" th:value="${customerId}" readonly>
            </div>
            <div class="form-group">
                <label for="hotelId">Select Hotel:</label>
                <select id="hotelId" name="hotelId" class="form-control" required>
                    <option value="">Select Hotel</option>
                    <option th:each="hotel : ${hotels}" th:value="${hotel.hotelId}" th:text="${hotel.hotelName}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Select Hotel</button>
        </form>
</main>
</body>

</html>
