<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout3}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservation Complete</title>
</head>

<body>
<main layout:fragment="content" class="main container mt-5">
    <h1 style="color:white;">Reservation Complete</h1>
    <p style="color:white;">Your reservation has been successfully completed.</p>
</main>
</body>

</html>
