<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout3}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
</head>

<body style="color: white;">
<main layout:fragment="content" class="main container mt-5">
    <h1 style="color: white;">Reservation List</h1>
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Hotel Name</th>
                <th scope="col">Room Name</th>
                <th scope="col">Check-in Date</th>
                <th scope="col">Check-out Date</th>
            </tr>
            </thead>
            <tbody>
            <!-- 예약 목록을 반복하면서 표시 -->
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.hotelName}"></td>
                <td ><a style="color:white;" th:text="${reservation.roomName}" th:href="@{'/view/'+ ${reservation.payId}}"></a></td>
                <td th:text="${reservation.checkin}"></td>
                <td th:text="${reservation.checkout}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</body>

</html>
