<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="ftco-footer ftco-bg-dark ftco-section" th:fragment="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 logo">Dr.<span>care</span></h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">경기도 광명시 덕안로 110 (일직동 501)</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">1811-7800</span></a></li>

                        </ul>
                    </div>

                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>홈</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>의료진</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>마이페이지</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md">

            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">진료시간</h2>
                    <h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>평일 오전: 08:30 ~ 12:30</h3>
                    <h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>평일 오후: 13:30 ~ 17:30</h3>
                    <h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>토요일: 08:30 ~ 12:30</h3>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

</html>