<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel.dao.HotelDao">
    <resultMap id="Hotel" type="Hotel">
        <result column="hotel_id" property="hotelId"/>
        <result column="hotel_name" property="hotelName"/>
        <result column="hotel_address" property="hotelAddress"/>
        <result column="hotel_tel" property="hotelTel"/>
    </resultMap>
    <resultMap id="Room" type="Room">
        <result column="room_id" property="roomId"/>
        <result column="room_name" property="roomName"/>
        <result column="price" property="price"/>
        <result column="room_img" property="roomImg"/>
        <collection property="hotel" resultMap="Hotel"/>
    </resultMap>

    <select id="getAllHotels" resultMap="Hotel" resultType="Hotel">
        select * from hotel
    </select>
    <select id="getAllHotelswithRooms" resultMap="Room" resultType="Room">
        SELECT * FROM ROOM r ,HOTEL h WHERE r.hotel_id = h.HOTEL_ID ORDER BY r.ROOM_ID
    </select>

    <select id="getHotelById" parameterType="int" resultMap="Hotel">
        SELECT * FROM hotel WHERE hotel_id = #{hotelId}
    </select>

    <select id="getRoomsByHotelId" parameterType="int" resultMap="Room">
        SELECT * FROM room WHERE hotel_id = #{hotelId} order by room_id
    </select>
    <select id="getRoomNameByRoomId" parameterType="int" resultType="String">
        SELECT room_name
        FROM room
        WHERE room_id = #{roomId}
    </select>
</mapper>