<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel.dao.ReservationDao">
    <resultMap id="reservationResultMap" type="com.example.hotel.dto.Reservation">
        <result property="payId" column="pay_id" />
        <result property="customerId" column="customer_id" />
        <result property="checkin" column="checkin" />
        <result property="checkout" column="checkout" />
        <result property="roomId" column="room_id" />
    </resultMap>
    <insert id="addReservation" parameterType="com.example.hotel.dto.Reservation">
        INSERT INTO reservation (pay_id, customer_id, checkin, checkout, room_id)
        VALUES (reservation_seq.nextval, #{customerId}, #{checkin}, #{checkout},  #{roomId})
    </insert>
    <select id="getAllReservations" resultType="com.example.hotel.dto.Reservation">
        SELECT r.PAY_ID, r.CUSTOMER_ID, TO_CHAR(r.CHECKIN, 'YYYY-MM-DD') AS CHECKIN_DATE, TO_CHAR(r.CHECKOUT, 'YYYY-MM-DD') AS CHECKOUT_DATE, ro.ROOM_NAME
        FROM reservation r
        JOIN room ro ON r.ROOM_ID = ro.ROOM_ID
    </select>
</mapper>
