<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <title>의료진 등록</title>
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">의료진 등록</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">의료진 등록</h2>
                    <div class="p-3 p-lg-5 border">
                        <form role="form" action="/admin/doctor/new" method="post" enctype="multipart/form-data" th:object="${doctorFormDto}" name="doctorForm">
                            <input type="hidden" />

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select class="form-control" th:field="*{major}">
                                        <option value="NEUROLOGY">신경외과</option>
                                        <option value="SURGICAL">외과</option>
                                        <option value="OPHTALMOLOGY">안과</option>
                                        <option value="DENTAL">치과</option>
                                        <option value="CARDIOLOGY">내과</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="doctorNm" class="text-black">교수명</label>
                                    <input type="text" class="form-control" placeholder="교수명 입력" th:field="*{doctorNm}"/>
                                    <p th:if="${#fields.hasErrors('doctorNm')}" th:errors="*{doctorNm}" class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="availableDayDtoList" class="text-black">진료 가능 요일</label>
                                    <br>
                                    <label th:each="day : ${T(com.hospital.constant.Day).values()}" class="form-check-label" style="margin-right:20px;">
                                        <input class="form-check-input" type="checkbox" th:value="${day}" th:field="*{availableDayDtoList}" th:id="${'day-' + day}" />
                                        <span th:text="${day}"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="text-black">진료 가능 시간</label>
                                    <br>
                                    <label th:for="startTime">시작시간</label>
                                    <select class="form-control" th:field="*{startTime}" th:value="*{startTime}"></select>
                                    <label th:for="endTime">종료시간:</label>
                                    <select class="form-control" th:field="*{endTime}" th:value="*{endTime}"></select>
                                    <br>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="doctorDetail" class="text-black">교수 진료내용</label>
                                    <textarea rows="10" class="form-control" placeholder="교수 진료내용" th:field="*{doctorDetail}"></textarea>
                                    <p th:if="${#fields.hasErrors('doctorDetail')}" th:errors="*{doctorDetail}" class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group row" th:each="num: ${#numbers.sequence(1,5)}">
                                <div class="col-md-12">
                                    <label for="doctorImgFile" class="form-label"></label>
                                    <input class="form-control" type="file" id="doctorImgFile" name="doctorImgFile" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary mb-3" style="width: 150px" onclick="beforeSubmit()">의료진 등록</button>
                                </div>
                            </div>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
<script th:inline="javascript">
    var errorMessage = [[${errorMessage}]];

    if(errorMessage != null) alert(errorMessage);

 var selectedStartTime = '';
 var selectedEndTime = '';

 function beforeSubmit() {
     const f = document.doctorForm;
     alert("선택된 시작 시간: " + selectedStartTime + "\n선택된 종료 시간: " + selectedEndTime);
     f.submit();
 }

 function createSelectOptions(select) {
     for (var hour = 8; hour < 18; hour++) {
         for (var minute = 0; minute < 60; minute += 30) {
             var option = document.createElement("option");
             var timeString = (hour < 10 ? "0" + hour : hour) + ":" + (minute === 0 ? "00" : minute);
             option.text = timeString;
             option.value = timeString;
             select.appendChild(option);
         }
     }
 }

 var startTimeSelect = document.getElementById("startTime");
 var endTimeSelect = document.getElementById("endTime");

 createSelectOptions(startTimeSelect);
 createSelectOptions(endTimeSelect);

 startTimeSelect.addEventListener("change", function() {
     selectedStartTime = this.value;
 });

 endTimeSelect.addEventListener("change", function() {
     selectedEndTime = this.value;
 });
</script>
</th:block>
</body>
</html>
