<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style></style>
</th:block>
<head> <!--ajax를 쓸 때 반드시 필요 -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">
    <section
            class="hero-wrap hero-wrap-2"
            style="background-image: url('images/bg_1.jpg')"
            data-stellar-background-ratio="0.5"
    >
        <div class="overlay"></div>
        <div class="container">
            <div
                    class="row no-gutters slider-text align-items-center justify-content-center"
            >
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">About Us</h1>
                    <p class="breadcrumbs">
                     <span class="mr-2"
                     ><a href="index.html"
                     >Home <i class="ion-ios-arrow-forward"></i></a
                     ></span>
                        <span>About us <i class="ion-ios-arrow-forward"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0">
                    <a href="#" class="product-doctor md-height bg-gray d-block">
                        <img th:src="${doctor.doctorImgDtoList[0].imgUrl}" th:alt="${doctor.doctorNm}" class="rounded repImg" />
                    </a>
                </div>
                <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
                    <div class="heading-section mb-5">
                        <div class="pl-md-5 ml-md-5">
                            <span class="subheading">About Dr.care</span>
                            <h2 class="mb-4" style="font-size: 28px">
                                Medical specialty concerned with the care of acutely
                                ill hospitalized patients
                            </h2>
                        </div>
                    </div>
                    <div class="pl-md-5 ml-md-5 mb-5">
                        <p>
                            On her way she met a copy. The copy warned the Little
                            Blind Text, that where it came from it would have been
                            rewritten a thousand times and everything that was left
                            from its origin would be the word.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="site-section">
        <div class="container">
            <div class="row">


                <div class="col-md-6">
                    <div class="doctor-entry">

                    </div>
                </div>
                <div class="col-md-6">
                    <span class="badge badge-primary mgb-15"></span>
                    <h2 class="text-black" th:text="${doctor.doctorNm}"></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section block-3 site-blocks-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Doctor Detail</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="white-space: pre-wrap" th:text="${doctor.doctorDetail}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div th:each="doctorImg : ${doctor.doctorImgDtoList}" class="text-center">
                        <img th:if="${not #strings.isEmpty(doctorImg.imgUrl)}"
                             th:src="${doctorImg.imgUrl}" class="rounded mgb-15" width="800" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

       
    </script>
</th:block>
</html>