<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        select {
           margin: 2px;
           width: 33.33%;
        }

        a {
           cursor: pointer;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">교수관리</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">교수관리</h2>
                    <form th:action = "@{'/admin/doctors/' + ${doctors.number}}" method="get" th:object="${doctors}">
                        <table class="table table-responsive-md">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">교수명</th>
                                <th scope="col">전공</th>
                                <th scope="col">등록자</th>
                                <th scope="col">등록일</th>
                            </tr>
                            </thead>
                            <!-- 조회된 데이터를 출력한다. -->
                            <tbody>
                            <tr th:each="doctor, status: ${doctors.getContent()}">
                                <th th:text="${doctor.id}" scope="row"></th>
                                <td><a th:href="'/admin/doctor/'+ ${doctor.id}" th:text="${doctor.doctorNm}"></a></td>
                                <td th:text="${doctor.major}"></td>
                                <td th:text="${doctor.createdBy}"></td>
                                <td th:text="${doctor.regDate}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 페이징버튼 -->
                        <!-- start = (현재 페이지 번호/보여줄 페이지수) * 보여줄 페이지수 + 1, 페이지 시작번호 -->
                        <!-- end = start + (보여줄 페이지수 - 1), 페이지 끝번호 -->
                        <!--
                                끝번호가 전체페이지보다 작으면 그냥 끝번호를 쓴다
                                예) 전체 페이지 7, 끝번호 5
                                ◀ 1 2 3 4 5 ▶
                                ◀ 6 7
                           -->
                        <!-- th:with => 변수에 값을 만들때 사용 -->
                        <nav
                                th:with="start=${(doctors.number/maxPage)*maxPage + 1}
			                 ,end=(${(doctors.totalPages == 0) ? 1 : (start + (maxPage - 1) < doctors.totalPages ? start + (maxPage - 1) : doctors.totalPages)})"
                                aria-label="Page navigation example">
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-doctor" th:classappend="${doctors.first}?'disabled'">
                                    <a class="page-link"
                                       th:onclick="'javascript:page(' + ${doctors.number - 1} +')'">이전</a>
                                </li>

                                <li class="page-doctor"
                                    th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${doctors.number eq page-1}?'active':''"> <!-- 현재 페이지 활성화 -->
                                    <!-- th:inline="text" 태그 내부에 출력되는 타임리프 변수 값을 문자로 처리  -->
                                    <a
                                            class="page-link" th:inline="text"
                                            th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
                                </li>

                                <li class="page-doctor" th:classappend="${doctors.last}?'disabled'">
                                    <a class="page-link"
                                       th:onclick="'javascript:page(' + ${doctors.number + 1} +')'">다음</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="row" th:object="${doctorSearchDto}" style="height: 40px; margin-bottom: 30px">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5" style="display: flex">
                                <!-- 교수 등록일 -->
                                <select class="form-control" th:field="*{searchDateType}">
                                    <option value="all">전체기간</option>
                                    <option value="1d">1일</option>
                                    <option value="1w">1주</option>
                                    <option value="1m">1개월</option>
                                    <option value="6m">6개월</option>
                                </select>
                                <!-- 교수판매 상태 -->
                                <select class="form-control" th:field="*{searchMajor}">
                                    <option value="">(전체)</option>
                                    <option value="NEUROLOGY">신경외과</option>
                                    <option value="SURGICAL">외과</option>
                                    <option value="OPHTALMOLOGY">안과</option>
                                    <option value="DENTAL">치과</option>
                                    <option value="CARDIOLOGY">내과</option>
                                </select>
                                <!-- 교수명, 등록자 선택 -->
                                <select class="form-control" th:field="*{searchBy}">
                                    <option value="doctorNm">교수명</option>
                                    
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <div style="display: flex">
                                    <input type="text" class="form-control" placeholder="검색어 입력" th:field="*{searchQuery}" />
                                    <button id="searchBtn" type="submit" class="btn btn-primary mb-3" style="margin-left:20px;width:100px;">검색</button>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $("#searchBtn").on("click", function(e){
                e.preventDefault(); //submit 방지
                page(0); //검색 이후엔 검색한 페이지의 시작페이지 부터 보여준다.
        });
        function page(page){
            var searchDateType =$("#searchDateType").val();
            var searchMajor = $("#searchMajor").val();
            var searchBy = $("#searchBy").val();
            var searchQuery =$("#searchQuery").val();
            location.href = "/admin/doctors/"+page
                                        +"?searchDateType="+searchDateType
                                        +"&searchMajor=" + searchMajor
                                        +"&searchBy="+ searchBy
                                        +"&searchQuery="+searchQuery;
        }
    </script>
</th:block>
</html>