<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<main layout:fragment="content" class="main">
    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <h2 class="mb-4">포스트 작성</h2>

                            <form  class="contact-form" method="post" action="/insert" th:object="${BoardFormDto}" name="BoardForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- https://getbootstrap.com/docs/4.1/components/forms/#form-controls -->


                                        <div class="form-group">
                                            <label for="title">제목</label>
                                            <input class="form-control form-control-name" name="title" id="title"
                                                   type="text" required>
                                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect Data</p>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label th:for="content" class="text-black">글쓰기</label>
                                                <textarea rows="10" class="form-control" placeholder="글 내용" th:field="*{content}" name="content" ></textarea>
                                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect Data</p>
                                            </div>
                                        </div>
                                        <div class="form-group row" th:each="num: ${#numbers.sequence(1,5)}">
                                            <div class="col-md-12">
                                                <label for="itemImgFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="itemImgFile" name="itemImgFile" />
                                            </div>
                                        </div>
                                        <button class="btn btn-primary solid blank mt-3" type="button" onclick="beforeSubmit(); return false;">
                                            포스트 등록하기
                                        </button>

                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block layout:fragment="script">
    <script th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <script th:inline="javascript">


        function beforeSubmit(){
           //에디터창에 입력한 데이터 가져오기
            const f = document.BoardForm;
            if(f.title.value == ' '){
                    alert(' 제목을 등록해주세요'); return;
            }
            if(content == ' '){
                    alert(' 내용을 등록해주세요'); return;
            }

                f.submit(); //전송
        }
    </script>
</th:block>
</html>